In [1]:
import pandas as pd

In [16]:
data=pd.DataFrame(data,columns=["a"])
data.head()

                                a
0  [1, 1, 2, 8, 7, 5, 6, 7, 7, 8]

In [24]:
data = [['tom', 10], ['nick', 15], ['juli', 14],['juli', 14],['tom', 10],['tom', 10.0]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name   Age
0   tom  10.0
1  nick  15.0
2  juli  14.0
3  juli  14.0
4   tom  10.0
5   tom  10.0

In [25]:
df["Age"].unique()

array([10., 15., 14.])