# Data Cleaning

In [13]:
import pandas as pd
import numpy as np

In data minig it is found that some rows have shifted to left there are less number off rows with are shifted so just drop it

In [14]:
dataframe=pd.read_csv("../final data/Cap- Student Info.csv")
dataframe.head()

,Unnamed: 0,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
0,0,1.0,60,95.13%,DSE19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,^LOPEN,201,1002
1,1,2.0,213,93.38%,DSE19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,^GOPEN,201,1002
2,2,3.0,384,92.47%,DSE19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,#GOBC,201,1002
3,3,4.0,420,92.31%,DSE19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,^GOBC,201,1002
4,4,5.0,846,90.79%,DSE19148502,BIRAJDAR SAURABH DAYANAND,M,SEBC,NaN,201,*GSEBC,201,1002

In [15]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73551 entries, 0 to 73550
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         73551 non-null  int64
 1   Sr.No.             73526 non-null  object
 2   Merit No           73526 non-null  object
 3   Marks              73526 non-null  object
 4   Application ID     73526 non-null  object
 5   Name of Candidate  73526 non-null  object
 6   Gender             73526 non-null  object
 7   Category           73033 non-null  object
 8   PWD/DEF            1300 non-null   object
 9   Sub Group          73526 non-null  object
 10  Seat Type          73031 non-null  object
 11  cource_code        73551 non-null  int64
 12  college_code       73551 non-null  int64
dtypes: int64(3), object(10)
memory usage: 7.3+ MB

In [16]:
dataframe["Sr.No."].unique()

array(['1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0', '9.0',
       '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0', '17.0',
       '18.0', '19.0', '20.0', '21.0', '22.0', '23.0', '24.0', '25.0',
       '26.0', '27.0', '28.0', '29.0', '30.0', '31.0', '32.0', '33.0',
       '34.0', '35.0', '36.0', '37.0', '38.0', '39.0', '40.0', '41.0',
       '42.0', '43.0', '44.0', '45.0', '46.0', '47.0', '48.0', '49.0',
       '50.0', '51.0', '52.0', '53.0', '54.0', '55.0', '56.0', '57.0',
       '58.0', '59.0', '60.0', '61.0', '62.0', '63.0', '64.0', '65.0',
       '66.0', '67.0', '68.0', '69.0', '71.0', '72.0', '73.0', '74.0',
       '75.0', '76.0', '77.0', '78.0', '79.0', '80.0', '81.0', '82.0',
       '83.0', '84.0', '85.0', '86.0', nan, '87.0', '88.0', '89.0',
       '90.0', '91.0', '92.0', '93.0', '94.0', '95.0', '96.0', '97.0',
       '98.0', '99.0', '100.0', '101.0', '102.0', '103.0', '104.0',
       '105.0', '106.0', '107.0', '108.0', '109.0', '110.0', '111.0',
       '113.0', '114.0', '115.0', '116.0', '117.0', '118.0', '119.0',
       '120.0', '121.0', '122.0', '123.0', '124.0', '125.0', '70.0',
       '126.0', '127.0', '128.0', '129.0', '130.0', '131.0', '132.0',
       '133.0', '134.0', '3515.0', '3953.0', '4224.0', '5357.0', '6067.0',
       '6582.0', '6643.0', '7540.0', '7594.0', '8225.0', '8636.0',
       '10558.0', '8286.0', '8838.0', '11461.0', '1', '2', '3', '4', '5',
       '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17',
       '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '29',
       '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40',
       '41', '42', '43', '44', '45', '46', '47', '48', '49', '24478',
       '24816', '45620', '-', '68', '69', '70', '71', '72', '73', '74',
       '75', '76', '77', '78', '79', '80', '81', '82', '83', '84', '85',
       '86', '87', '88', '89', '90', '91', '92', '93', '94', '95', '96',
       '97', '98', '99', '50', '51', '52', '53', '54', '55', '56', '57',
       '58', '59', '60', '61', '62', '63', '64', '65', '66', '67', '100',
       '101', '102', '103', '104', '105', '106', '107', '108', '109',
       '110', '111', '113', '114', '115', '116', '117', '118', '119',
       '120', '121', '122', '123', '124', '125', '126', '127', '128',
       '129', '130', '131', '132', '133', '134', '135', '28', '10080.0',
       '10118.0', '10269.0', '10296.0', '10697.0', '11035.0', '11960.0',
       '12214.0', '12393.0', '12416.0', '12665.0', '12741.0', '13833.0',
       '13999.0', '14329.0', '14950.0', '15319.0', '16139.0', '16339.0',
       '17940.0', '18035.0', '21445.0', '22111.0', '23345.0', '24219.0',
       '25620.0', '26230.0', '26496.0', '27685.0', '28081.0', '28652.0',
       '31155.0', '31377.0', '32865.0', '37309.0', '37336.0', '38753.0',
       '39506.0', '43228.0', '45286.0', '13904', '30169', '37367',
       '10207', '11320', '11585', '12364', '12759', '30957', '31831',
       '33514', '33664', '33962', '34273', '34282', '38093', '39390',
       '41261', '41980', '47503', '47825', '26759', '27878', '30462',
       '31172', '31444', '31631', '35057', '35733', '36699', '39691',
       '41210', '41967', '112', '20535', '21577', '25679', '27325',
       '11335', '4374', '13223', '13545', '14415', '14657', '16081',
       '16401', '23430', '30785', '36462', '39421', '40771', '41739',
       '43076', '43735', '45042', '47059', '136', '137', '138', '139',
       '140', '141', '142', '143', '144', '145', '146', '147', '148',
       '149', '150', '151', '152', '153', '154', '155', '156', '157',
       '158', '159', '161', '162', '163', '164', '165', '166', '167',
       '168', '169', '170', '171', '172', '173', '174', '175', '176',
       '177', '178', '179', '180', '181', '182', '183', '184', '185',
       '186', '187', '188', '189', '190', '191', '192', '193', '194',
       '195', '196', '197', '198', '199', '200', '201', '203', '204',
       '205', '206', '207', '208', '209', '210', '211', '212', '213',
       '214', '3312', '3479', '3694', '3789', '3836', '3993', '7993',
       '9970', '10604', '13637', '17120', '21268', '25022', '27056',
       '27131', '30557', '31721', '34912', '36882', '38730', '38858',
       '38877', '39313', '40234', '43104', '43471', '46833', '47251',
       '48570', '24365', '24806', '25668', '215', '216', '217', '218',
       '219', '220', '221', '222', '223', '224', '225', '226', '227',
       '228', '229', '230', '231', '232', '233', '234', '235', '236',
       '237', '238', '239', '240', '241', '242', '243', '160', '1751',
       '2138', '2558', '2836'], dtype=object)

In [17]:
dataframe.shape

(73551, 13)

In [18]:
vacent_record=dataframe[dataframe["Sr.No."]=="-"].index.values
vacent_record_nan=dataframe[dataframe["Sr.No."].isnull()].index.values

In [19]:
dataframe.iloc[vacent_record]=0
dataframe.iloc[vacent_record_nan]=0

In [20]:
dataframe["Sr.No."] = pd.to_numeric(dataframe["Sr.No."], errors='coerce').fillna(0).astype(np.int64)

In [21]:
invalid_data= dataframe[dataframe["Sr.No."]>243].index.values
dataframe.drop(index=invalid_data,inplace=True)

In [22]:
dataframe.shape

(73402, 13)

In [24]:
dataframe.to_csv("../final data/Cap-2 Student Info.csv")