# Data Cleaning

In [3]:
import pandas as pd
import numpy as np

In [283]:
dataframe=pd.read_csv("../final data/cap-1 student info.csv")
dataframe.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code
0,0,0,0,1,60,95.13%,DSE19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,^LOPEN,201,1002
1,1,1,1,2,213,93.38%,DSE19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,^GOPEN,201,1002
2,2,2,2,3,384,92.47%,DSE19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,#GOBC,201,1002
3,3,3,3,4,420,92.31%,DSE19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,^GOBC,201,1002
4,4,4,4,5,846,90.79%,DSE19148502,BIRAJDAR SAURABH DAYANAND,M,SEBC,NaN,201,*GSEBC,201,1002

In [288]:
dataframe.drop(["Unnamed: 0","Unnamed: 0.1","Unnamed: 0.1.1"],axis=1,inplace=True)

## Feature clearing

### Feature ["Mert No"]

Marks have some vacant anoted by "-" they showd be convertd as 0

In [173]:
dataframe["Merit No"]=dataframe["Merit No"].astype(str)
vacent_entres=dataframe[dataframe["Merit No"]=="-"].index.values
dataframe.iloc[vacent_entres]=0

The feature mert no have all the integer feature it shoud be integer

In [164]:
dataframe["Merit No"] = pd.to_numeric(dataframe["Merit No"], errors='coerce').fillna(0).astype(np.int64)

### Feature [Marks]

The marks in format of % eg 80.0% they should converted as 80.0

In [138]:
dataframe["Marks"]=dataframe["Marks"].astype(str)

In [139]:
length=dataframe.shape
length[0]

75031

removig %

In [140]:
for i in range(length[0]):
    data=dataframe["Marks"].iloc[i]
    if data!=0:
        data=''.join([ word for word  in data if word.isdigit() or word=="."])
        dataframe["Marks"].iloc[i]=data

C:\Users\sai\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

In [141]:
dataframe["Marks"] = pd.to_numeric(dataframe["Marks"], errors='coerce').fillna(0).astype(np.float64)

### Feature [Application Id]

The application id is only the feature that can uniqly identify student bot the application id is in format DSE12458. if move remove [DSE] from the if goood o have id as Integer

In [142]:
dataframe["Application ID"]=dataframe["Application ID"].astype(str)

In [143]:
for i in range(length[0]):
    data=dataframe["Application ID"].iloc[i]
    if  data !=0:
        data=''.join([word for word in data if  word.isdigit()])
        dataframe["Application ID"].iloc[i]=data

In [144]:
dataframe["Application ID"] = pd.to_numeric(dataframe["Application ID"], errors='coerce').fillna(0).astype(np.int64)

### Feature [Seat Type]

The feature seat type contain the spacial symobols witch can affect model.It better to remove the symboles

In [145]:
dataframe["Seat Type"]=dataframe["Seat Type"].astype(str)

In [146]:
for i in range(length[0]):
    data=dataframe["Seat Type"].iloc[i]
    if data!=0:
        data=''.join([word for word in data if word.isalpha()])
        dataframe["Seat Type"].iloc[i]=data

In [147]:
dataframe["Seat Type"].unique()

array(['LOPEN', 'GOPEN', 'GOBC', 'GSEBC', 'LSC', 'EWS', 'LST', 'GSC', '',
       'LOBC', 'GST', 'GNTD', 'LSEBC', 'LNTC', 'PHOBC', 'LNTB', 'MI',
       'GNTB', 'GNTC', 'GNTA', 'LNTA', 'DFSC', 'LNTD', 'PHO', 'DFSEBC',
       'DFO', 'PHSC', 'DFOBC', 'DFNTC', 'DFNTD', 'PHNTC', 'PHSEBC',
       'PHNTB', 'PHNTA', 'DFST', 'DFNTB', 'PHNTD'], dtype=object)

### Feature [Category]

The feature inalid symboles

In [148]:
for i in range(length[0]):
    data=dataframe["Category"].iloc[i]
    if data!=0:
        data=''.join([word for word in data if word.isalpha() or word.isdigit() or word == "/" or word=="(" or word==")"])
        dataframe["Category"].iloc[i]=data

In [149]:
dataframe["Category"].unique()

array(['OPEN', 'OBC', 'SEBC', 'SC', 'OPEN/EWS', 'ST', 'NT1(NTB)', 0,
       'NT3(NTD)', 'NT2(NTC)', 'SBC/OBC', 'DT/VJNT(A)', 'SBC', '0'],
      dtype=object)

###  Feature [Gender]

In [177]:
dataframe["Gender"]=dataframe["Gender"].astype(str)

In [183]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75031 entries, 0 to 75030
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr.No.             75031 non-null  int64
 1   Merit No           75031 non-null  object
 2   Marks              75031 non-null  object
 3   Application ID     75031 non-null  object
 4   Name of Candidate  75031 non-null  object
 5   Gender             75031 non-null  object
 6   Category           75031 non-null  object
 7   PWD/DEF            36409 non-null  object
 8   Sub Group          75031 non-null  object
 9   Seat Type          75031 non-null  object
 10  cource_code        75031 non-null  int64
 11  college_code       75031 non-null  int64
dtypes: int64(3), object(9)
memory usage: 6.9+ MB

In [319]:
dataframe["PWD/DEF"].unique()

array([nan, 'Low-Vision', 'DEF1', 'Locomotor \r\nDisability',
       'Physical \r\nimpairment', 'DEF2', 'Hard of \r\nHearing',
       'Thalassemia', '0', 'Specific \r\nLearning \r\nDisabilities',
       'Cerebral \r\nPalsy', 'Blindness', 'DEF3', 'Haemophilia',
       'Muscular \r\nDystrophy', 'Physical \r\nimpairment/DEF1', 'Deaf',
       'Intellectual \r\nDisability'], dtype=object)

In [ ]:
#for i in range(length[0]):
    #data=dataframe["Category"].iloc[i]
    #if data!=0:
        #data=''.join([word for word in data if word.isalpha() or word.isdigit() or word == "" or word=="(" or word==")"])
        #dataframe["Category"].iloc[i]=data

In [185]:
#for i in range(length[0]):
    #data=dataframe["Category"].iloc[i]
    #if data!=0:
        #data=''.join([word for word in data if word.isalpha() or word.isdigit() or word == "" or word=="(" or word==")"])
        #dataframe["Category"].iloc[i]=data

SyntaxError: unexpected EOF while parsing (<ipython-input-185-07dece481270>, line 1)

### College Maping

The data scource only have college code we have to add collage name

In [284]:
college_data=pd.read_csv("../final data/college maping.csv",index_col=["Institute Code"],usecols=None,)
college_data.drop(["Unnamed: 0"],axis=1,inplace=True)
college_data.head()

                                                   Institute Name
Institute Code
1002                  Government College of Engineering, Amravati
1005                 Sant Gadge Baba Amravati University,Amravati
1012                     Government Engineering College, Yavatmal
1101            Shri Sant Gajanan Maharaj College of Engineeri...
1105            Prof. Ram Meghe Institute of Technology & Rese...

In [285]:
data=college_data.to_dict()
data=data['Institute Name']

In [286]:
dataframe["Institute Name"]=dataframe["college_code"].map(data)

In [290]:
dataframe.head()

,Sr.No.,Merit No,Marks,Application ID,Name of Candidate,Gender,Category,PWD/DEF,Sub Group,Seat Type,cource_code,college_code,Institute Name
0,1,60,95.13%,DSE19106856,PAWAR SIDDHI RAVINDRASINGH,F,OPEN,NaN,201,^LOPEN,201,1002,"Government College of Engineering, Amravati"
1,2,213,93.38%,DSE19126045,MAHALLE SHRADDHA MOHANRAO,F,OBC,NaN,201,^GOPEN,201,1002,"Government College of Engineering, Amravati"
2,3,384,92.47%,DSE19105661,TUSHAR RAJESH LAHANE,M,OBC,NaN,201,#GOBC,201,1002,"Government College of Engineering, Amravati"
3,4,420,92.31%,DSE19103256,RAUT PALASH SUBHASH,M,OBC,NaN,201,^GOBC,201,1002,"Government College of Engineering, Amravati"
4,5,846,90.79%,DSE19148502,BIRAJDAR SAURABH DAYANAND,M,SEBC,NaN,201,*GSEBC,201,1002,"Government College of Engineering, Amravati"

### College city

In [311]:
dataframe["Institute Name"]=dataframe["Institute Name"].astype(str)
for i in range(length[0]):
    data=dataframe["Institute Name"].iloc[i]
    data_list=data.split()
    temp=data_list[-1]
    dataframe["Institute City"].iloc[i]=temp